<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SteadySchedule</a>
    </div>
</div>

<input type="checkbox" id="nav-toggle" class="nav-toggle" />

<label for="nav-toggle" class="navbar-toggler"></label>

<div class="nav-scrollable">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                Dashboard
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="positions">
                Positions
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="shifts">
                Shifts
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="employees">
                Employees
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="assign">
                Assign
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="published">
                Published Schedule
            </NavLink>
        </div>

    </nav>
</div>
