<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SteadySchedule</a>
    </div>
</div>

<input type="checkbox" id="nav-toggle" class="nav-toggle" @bind="navOpen" />

<label for="nav-toggle" class="navbar-toggler"></label>

<div class="nav-scrollable">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All" @onclick="CloseMenu">
                Dashboard
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="positions" @onclick="CloseMenu">
                Positions
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="shifts" @onclick="CloseMenu">
                Shifts
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="employees" @onclick="CloseMenu">
                Employees
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="assign" @onclick="CloseMenu">
                Assign
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="published" @onclick="CloseMenu">
                Published Schedule
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool navOpen;

    private void CloseMenu()
    {
        navOpen = false;
    }
}