@page "/Error"
@using System.Diagnostics
@inject IWebHostEnvironment Env

<PageTitle>Error</PageTitle>

@if (Env.IsDevelopment())
{
    <h1 class="text-danger">Error</h1>
    <p>Request ID: @RequestId</p>
}
else
{
    <h3>Something went wrong…</h3>
    <p>Hang tight, we’re getting you back in.</p>

    <script>
    setTimeout(() => {
        window.location.href = window.location.origin;
    }, 1500);
</script>
}

@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }

    protected override void OnInitialized()
    {
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
    }
}